<div class="section-nav-wrapper">
    <button 
        *ngFor="let section of activeForm.sections; index as i"
        class="waves-effect waves-light btn"
        [ngClass]="{ 'active': activeSection === i }"
    >
        <i *ngIf="activeForm.sections.length !== 1" class="material-icons right" (click)="onRemoveNavItemClick(i)">close</i>
        <span (click)="onNavItemClick(i)" style="line-height: 2rem;">Section - {{ i + 1 }}</span>
    </button>
    <button class="waves-effect waves-teal btn-flat" (click)="onAddSection()">
        Add Section
    </button>
</div>
