.section-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.btn, .btn-flat {
    margin: 0.5rem 1rem;
}

.nav-item-grid {
    display: grid;
    grid-template-columns: auto 1.5rem;
    column-gap: 0.5rem;
}

.nav-btn {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.active-section {
    border: 1px solid blue;
}

.add-section-btn {
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 1rem;
    border: 1px solid green;
    background-color: transparent;
    color: green;
    cursor: pointer;
}

.add-section-btn:hover {
    color: white;
    background-color: green;
    transition: all linear 100ms;
}

button.active {
    background-color: darkcyan;
}