<div class="section-nav-wrapper">
    <div 
        *ngFor="let section of activeForm.sections; index as i"
        class="nav-item"
        [ngClass]="{ 'active-section': activeSection === i }"
    >
        <div class="nav-item-grid">
            <div (click)="onNavItemClick(i)">
                Section - {{ i + 1 }}
            </div>
            <div>
                <button class="nav-btn"  (click)="onRemoveNavItemClick(i)">&cross;</button>
            </div>
        </div>
    </div>
</div>
