<div class="modal-dialog">
    <button class="close-btn" (click)="dialogRef.close()">X</button>
    <div class="modal-body">
        <select class="input-select">
            <option value="" selected disabled>Choose</option>
            <option value="text">Text</option>
            <option value="cb">Checkbox</option>
            <option value="radio">Radio</option>
            <option value="select">Select</option>
        </select>
        <p>Para 1</p>
        <ng-template [ngIf]="true">
            <p>Para 2</p>
        </ng-template>
    </div>
</div>
