<div>
    <h5 class="small-title">Title: </h5>
    <p>{{ getActiveForm().title }}</p>
    <hr>
    <br>
    <h5 class="small-title">Questions: </h5>
    <div cdkDropList class="q-list" (cdkDropListDropped)="drop($event)">
        <div class="q-box" *ngFor="let question of getQuestions(); index as i" cdkDrag>
            <p>{{ question }}</p>
            <button class="q-remove-btn" (click)="onRemoveSection(i)">&cross;</button>
        </div>
    </div>
    <div class="add-button-wrapper">
        <button class="q-add-btn" (click)="onAddQuestion()">Add question</button>
    </div>
</div>
