<h2>{{ activeForm.title }}</h2>
<p>{{ activeForm.description }}</p>
<div class="q-list" *ngFor="let section of activeForm.sections; index as i">
    <div class="section-head"><span>{{ section.title }}</span></div>
    <div *ngFor="let question of section.questions; index as i" class="question-wrapper">
        <div [ngSwitch]="question.type">
            <ng-template [ngSwitchCase]="questionTypeText">
                <label [for]="question.key">{{ question.props.label }}</label>
                <input class="form-control" [placeholder]="question.props.placeholder" [id]="question.key">
            </ng-template>
            <ng-template [ngSwitchCase]="questionTypeCheckBox">
                <p>{{ question.props.groupLabel }}</p>
                <p *ngFor="let option of question.props.options; index as i">
                    <label>
                        <input type="checkbox" [id]="question.key+'-'+i" [name]="question.key" [value]="option.value" />
                        <span>{{ option.label }}</span>
                    </label>
                </p>
            </ng-template>
            <ng-template [ngSwitchCase]="questionTypeRadio">
                <p>{{ question.props.groupLabel }}</p>
                <p *ngFor="let option of question.props.options; index as i">
                    <label>
                        <input class="with-gap" type="radio" [name]="question.key" [value]="option.value"
                            [id]="question.key + '-' + i">
                        <span>{{ option.label }}</span>
                    </label>
                </p>
            </ng-template>
            <ng-template [ngSwitchCase]="questionTypeSelect">
                <div class="input-field">
                    <select>
                        <option *ngFor="let option of question.props.options" [value]="option.value">
                            {{ option.label }}
                        </option>
                    </select>
                    <label>{{ question.props.label }}</label>
                </div>
            </ng-template>
            <ng-template ngSwitchDefault>
                <p>{{ 'aaa' + question.key }}</p>
            </ng-template>
        </div>
    </div>
</div>
<button class="waves-effect waves-light btn">SUBMIT</button>