<div class="text-gen-wrapper">
    <p>Label: </p>
    <input type="text" class="form-control" placeholder="Label" [(ngModel)]="label">
    <p>Placeholder: </p>
    <input type="text" class="form-control" placeholder="Placeholder" [(ngModel)]="placeholder">
    <hr style="margin: 0.5rem 0rem;">
    <div class="preview-wrapper">
        <span class="preview-label">Preview</span>
        <br>
        <div>
            <label for="addtext">{{ label }}</label>
            <input type="text" id="addtext" [placeholder]="placeholder" class="form-control">
        </div>
    </div>
    <hr style="margin: 0.5rem 0rem;">
    <button class="add-btn" (click)="onAddInput()" [disabled]="isInvalid()">Add</button>
</div>
